datetime
tk
tkvideoplayer
python-time
moviepy
Pillow
pandas
os-sys
regex
easyocr
opencv-python
numpy
matplotlib
pytest-warnings
customtkinter
subprocess.run
requires.io
argparse
pathlib
torch
