datetime
tkinter
tkVideoPlayer
time
moviepy
PIL
pandas
os
re
easyocr
opencv-python
numpy
matplotlib
warnings
customtkinter
subprocess
io
argparse
sys
pathlib
torch
torch.backends.cudnn